<!-- ••••••••••••• Graphic Novels ••••••••••••• -->
<div id="graphic" data-link-name="graphic header" class="section header graphic" data-id="graphic">
  <div class="section copy graphic">
  {{#Graphic}}
      <div class="content__main-column">
        <div id="{{section}}" class="internal-anchor"></div>
      <h1 class="heading" ><div class="text">{{{headline}}}</div><div class="credit">{{{credit}}}</div></h1>

      {{#image}}
        <div class="body-image">
          <img src="{{{image}}}">
        </div>
      {{/image}}
      {{#imageCaption}}
        <div class="caption">
          <p class="caption-text">
            <svg width="11" height="10" viewBox="0 0 11 10"><path fill-rule="evenodd" d="M5.5 0L11 10H0z"/></svg>
           {{imageCaption}}
          </p>
        </div>
      {{/imageCaption}}
      <pre class="copy">{{{description}}}</pre>
      </div>
      <div class="ad--wrapper--desktop">
        <div id="{{adID}}" class="js-ad-slot ad-slot ad-slot--mpu-banner-ad ad-slot--right" data-link-name="ad slot {{adDataName}}" data-test-id="{{adTestId}}" data-name="{{adName}}" data-mobile="1,1|2,2|300,250|fluid" data-desktop="1,1|2,2|300,250|fluid"></div>
      </div>
      <div class="ad--wrapper--mobile" {{#adIDMobile}} style="padding:20px 0px;" {{/adIDMobile}}>
        {{#adIDMobile}}
        <div id="{{adIDMobile}}" class="js-ad-slot ad-slot ad-slot--inline {{adTestIdMobile}}" data-link-name="ad slot {{adDataNameMobile}}" data-test-id="{{adTestIdMobile}}" data-name="{{adNameMobile}}" data-mobile="1,1|2,2|300,250|fluid" data-desktop="1,1|2,2|300,250|fluid"></div>
        {{/adIDMobile}}
      </div>
  {{/Graphic}}
</div>
</div>
<div class="ad--wrapper--mobile" style="padding:20px 0px;">
  <div id="dfp-ad--inline7" class="js-ad-slot ad-slot ad-slot--inline ad-slot--inline7" data-link-name="ad slot inline5" data-test-id="ad-slot-inline7" data-name="inline7" data-mobile="1,1|2,2|300,250|fluid" data-desktop="1,1|2,2|300,250|fluid"></div>
</div>
