<div id="people" data-link-name="people header" class="section header people" data-id="people">
  <div class="section-header--image">
    <img class="{{imageclass}} place-image people-image" data-lazy-img alt="{{id}}" data-src="https://media.guim.co.uk/cffcee2ab6f7219e1c838cbcdf39db39158adc75/0_678_7558_4536/2000.jpg" src="" height="600" width="900" />
    <div class="section-header--title">
      <div class="gs-container">
        <div class="content__main-column">
          <h1>People</h1>
          <p>Names to watch out for - from the up and coming to the influential</p>
        </div>
      </div>
    </div>
    <div class="section-strap-line">
      <div class="strapline-wrapper">
        <!-- <div class="content__main-column">
          <span class="strapline">{{strapline}}</span>
        </div> -->
      </div>
    </div>
    <div class="section-header--button">
      <svg xmlns="http://www.w3.org/2000/svg" width="44" height="44" viewBox="0 0 44 44">
        <g fill="none" fill-rule="evenodd">
          <circle cx="22" cy="22" r="22" fill="#FFABDB"/>
          <polygon fill="#000" fill-rule="nonzero" points="20.909 23.091 12 22.682 12 21.295 20.909 20.909 21.295 12 22.682 12 23.091 20.909 32 21.295 32 22.682 23.091 23.091 22.682 32 21.295 32"/>
        </g>
      </svg>
      <p class="button">Read more</p>
    </div>
  </div>
  <div class="section copy people">
  {{#People}}
      <div class="content__main-column">
      <h1 class="heading" id="{{section}}"><div class="text">{{{headline}}}</div></h1>
      {{#image}}
        <div class="body-image">
          <img src="{{{image}}}">
        </div>
      {{/image}}
      {{#imageCaption}}
        <div class="caption">
          <p class="caption-text">
            <svg width="11" height="10" viewBox="0 0 11 10"><path fill-rule="evenodd" d="M5.5 0L11 10H0z"/></svg>
           {{imageCaption}}
          </p>
        </div>
      {{/imageCaption}}
      <pre class="copy">{{{description}}}</pre><div class="credit">{{{credit}}}</div>
      </div>
      <div class="ad--wrapper--desktop">
        <div id="{{adID}}" class="js-ad-slot ad-slot ad-slot--mpu-banner-ad ad-slot--right" data-link-name="ad slot {{adDataName}}" data-test-id="{{adTestId}}" data-name="{{adName}}" data-mobile="1,1|2,2|300,250|fluid" data-desktop="1,1|2,2|300,250|fluid"></div>
      </div>
      <div class="ad--wrapper--mobile" {{#adIDMobile}} style="padding:20px 0px;" {{/adIDMobile}}>
        {{#adIDMobile}}
        <div id="{{adIDMobile}}" class="js-ad-slot ad-slot ad-slot--inline {{adTestIdMobile}}" data-link-name="ad slot {{adDataNameMobile}}" data-test-id="{{adTestIdMobile}}" data-name="{{adNameMobile}}" data-mobile="1,1|2,2|300,250|fluid" data-desktop="1,1|2,2|300,250|fluid"></div>
        {{/adIDMobile}}
      </div>
  {{/People}}
</div>
</div>
<div class="ad--wrapper--mobile" style="padding:20px 0px;">
  <div id="dfp-ad--inline7" class="js-ad-slot ad-slot ad-slot--inline ad-slot--inline7" data-link-name="ad slot inline5" data-test-id="ad-slot-inline7" data-name="inline7" data-mobile="1,1|2,2|300,250|fluid" data-desktop="1,1|2,2|300,250|fluid"></div>
</div>
<!--places-->
<div id="places" data-link-name="places header" class="section header places" data-id="places">
  <div class="section-header--image">
    <img class="bottom place-image place-image places-image" data-lazy-img alt="{{id}}" data-src="https://media.guim.co.uk/28541643d5270cda041e6229a2e078e818d20928/0_374_5616_3370/2000.jpg" src="" height="600" width="900" />
    <div class="section-header--title">
      <div class="gs-container">
        <div class="content__main-column">
          <h1>Places</h1>
          <p>Make a booking in a small but perfect fish restaurant in Brighton, plan a holiday in British Columbia</p>
        </div>
      </div>
    </div>
    <div class="section-strap-line">
      <div class="strapline-wrapper">
        <!-- <div class="content__main-column">
          <span class="strapline">{{strapline}}</span>
        </div> -->
      </div>
    </div>
    <div class="section-header--button">
      <svg xmlns="http://www.w3.org/2000/svg" width="44" height="44" viewBox="0 0 44 44">
        <g fill="none" fill-rule="evenodd">
          <circle cx="22" cy="22" r="22" fill="#FFABDB"/>
          <polygon fill="#000" fill-rule="nonzero" points="20.909 23.091 12 22.682 12 21.295 20.909 20.909 21.295 12 22.682 12 23.091 20.909 32 21.295 32 22.682 23.091 23.091 22.682 32 21.295 32"/>
        </g>
      </svg>
      <p class="button">Read more</p>
    </div>
  </div>
  <div class="section copy places">
  {{#Places}}
      <div class="content__main-column">
        <h1 class="heading" id="{{section}}"><div class="text">{{{headline}}}</div></h1>
        {{#image}}
          <div class="body-image">
            <img src="{{{image}}}">
          </div>
        {{/image}}
        {{#imageCaption}}
          <div class="caption">
            <p class="caption-text">
              <svg width="11" height="10" viewBox="0 0 11 10"><path fill-rule="evenodd" d="M5.5 0L11 10H0z"/></svg>
              {{imageCaption}}
            </p>
          </div>
        {{/imageCaption}}
      <pre class="copy">{{{description}}}</pre><div class="credit">{{{credit}}}</div>
      </div>
      <div class="ad--wrapper--desktop">
        <div id="{{adID}}" class="js-ad-slot ad-slot ad-slot--mpu-banner-ad ad-slot--right" data-link-name="ad slot {{adDataName}}" data-test-id="{{adTestId}}" data-name="{{adName}}" data-mobile="1,1|2,2|300,250|fluid" data-desktop="1,1|2,2|300,250|fluid"></div>
      </div>
  {{/Places}}
</div>
</div>


<!--FoodDrink-->
<div id="FoodDrink" data-link-name="food header" class="section header FoodDrink" data-id="FoodDrink">
  <div class="section-header--image">
    <img class="bottom place-image  food-image" data-lazy-img alt="{{id}}" data-src="https://media.guim.co.uk/98e8d3e1ff1cf643166862cdea0100efcbc8dab4/0_423_6389_3836/2000.jpg" src="" height="600" width="900" />
    <div class="section-header--title">
      <div class="gs-container">
        <div class="content__main-column">
          <h1>Food &amp; drink</h1>
          <p>Indulge in the ultimate steak, join the deep fried revival, try pepper from Nepal</p>
        </div>
      </div>
    </div>
    <div class="section-strap-line">
      <div class="strapline-wrapper">
        <!-- <div class="content__main-column">
          <span class="strapline">{{strapline}}</span>
        </div> -->
      </div>
    </div>
    <div class="section-header--button">
      <svg xmlns="http://www.w3.org/2000/svg" width="44" height="44" viewBox="0 0 44 44">
        <g fill="none" fill-rule="evenodd">
          <circle cx="22" cy="22" r="22" fill="#FFABDB"/>
          <polygon fill="#000" fill-rule="nonzero" points="20.909 23.091 12 22.682 12 21.295 20.909 20.909 21.295 12 22.682 12 23.091 20.909 32 21.295 32 22.682 23.091 23.091 22.682 32 21.295 32"/>
        </g>
      </svg>
      <p class="button">Read more</p>
    </div>
  </div>
  <div class="section copy FoodDrink">
  {{#FoodDrink}}
      <div class="content__main-column">
        <h1 class="heading" id="{{section}}"><div class="text">{{{headline}}}</div></h1>
        {{#image}}
          <div class="body-image">
            <img src="{{{image}}}">
          </div>
        {{/image}}
        {{#imageCaption}}
        <div class="caption">
          <p class="caption-text">
            <svg width="11" height="10" viewBox="0 0 11 10"><path fill-rule="evenodd" d="M5.5 0L11 10H0z"/></svg>
           {{imageCaption}}
          </p>
        </div>
        {{/imageCaption}}
      <pre class="copy">{{{description}}}</pre><div class="credit">{{{credit}}}</div>
      </div>
      <div class="ad--wrapper--desktop">
        <div id="{{adID}}" class="js-ad-slot ad-slot ad-slot--mpu-banner-ad ad-slot--right" data-link-name="ad slot {{adDataName}}" data-test-id="{{adTestId}}" data-name="{{adName}}" data-mobile="1,1|2,2|300,250|fluid" data-desktop="1,1|2,2|300,250|fluid"></div>
      </div>
      <div class="ad--wrapper--mobile" {{#adIDMobile}} style="padding:20px 0px;" {{/adIDMobile}}>
        {{#adIDMobile}}
        <div id="{{adIDMobile}}" class="js-ad-slot ad-slot ad-slot--inline {{adTestIdMobile}}" data-link-name="ad slot {{adDataNameMobile}}" data-test-id="{{adTestIdMobile}}" data-name="{{adNameMobile}}" data-mobile="1,1|2,2|300,250|fluid" data-desktop="1,1|2,2|300,250|fluid"></div>
        {{/adIDMobile}}
      </div>
  {{/FoodDrink}}
</div>
</div>
<div class="ad--wrapper--mobile" style="padding:20px 0px;">
  <div id="dfp-ad--inline6" class="js-ad-slot ad-slot ad-slot--inline ad-slot--inline6" data-link-name="ad slot inline6" data-test-id="ad-slot-inline6" data-name="inline6" data-mobile="1,1|2,2|300,250|fluid" data-desktop="1,1|2,2|300,250|fluid"></div>
</div>
<!--BOOKS-->
<div id="books" data-link-name="books header" class="section header books" data-id="books">
  <div class="section-header--image">
    <img class="{{imageclass}} place-image writing-image" data-lazy-img alt="{{id}}" data-src="https://media.guim.co.uk/e7e6ea1886031c908287d3d807c3a3eb418a4d94/859_1445_5780_3467/2000.jpg" src="" height="600" width="900" />
    <div class="section-header--title">
      <div class="gs-container">
        <div class="content__main-column">
          <h1>Writing</h1>
          <p>Classic books, adventurous magazines, new voices</p>
        </div>
      </div>
    </div>
    <div class="section-strap-line">
      <div class="strapline-wrapper">
        <!-- <div class="content__main-column">
          <span class="strapline">{{strapline}}</span>
        </div> -->
      </div>
    </div>
    <div class="section-header--button">
      <svg xmlns="http://www.w3.org/2000/svg" width="44" height="44" viewBox="0 0 44 44">
        <g fill="none" fill-rule="evenodd">
          <circle cx="22" cy="22" r="22" fill="#FFABDB"/>
          <polygon fill="#000" fill-rule="nonzero" points="20.909 23.091 12 22.682 12 21.295 20.909 20.909 21.295 12 22.682 12 23.091 20.909 32 21.295 32 22.682 23.091 23.091 22.682 32 21.295 32"/>
        </g>
      </svg>
      <p class="button">Read more</p>
    </div>
  </div>
  <div class="section copy books">
  {{#Books}}
      <div class="content__main-column">
      <h1 class="heading" id="{{section}}"><div class="text">{{{headline}}}</div></h1>
        {{#image}}
          <div class="body-image">
            <img src="{{{image}}}">
          </div>
        {{/image}}
        {{#imageCaption}}
          <div class="caption">
            <p class="caption-text">
              <svg width="11" height="10" viewBox="0 0 11 10"><path fill-rule="evenodd" d="M5.5 0L11 10H0z"/></svg>
             {{imageCaption}}
            </p>
          </div>
        {{/imageCaption}}
      <pre class="copy">{{{description}}}</pre><div class="credit">{{{credit}}}</div>
      </div>
      <div class="ad--wrapper--desktop">
        <div id="{{adID}}" class="js-ad-slot ad-slot ad-slot--mpu-banner-ad ad-slot--right" data-link-name="ad slot {{adDataName}}" data-test-id="{{adTestId}}" data-name="{{adName}}" data-mobile="1,1|2,2|300,250|fluid" data-desktop="1,1|2,2|300,250|fluid"></div>
      </div>
      <div class="ad--wrapper--mobile" {{#adIDMobile}} style="padding:20px 0px;" {{/adIDMobile}}>
        {{#adIDMobile}}
        <div id="{{adIDMobile}}" class="js-ad-slot ad-slot ad-slot--inline {{adTestIdMobile}}" data-link-name="ad slot {{adDataNameMobile}}" data-test-id="{{adTestIdMobile}}" data-name="{{adNameMobile}}" data-mobile="1,1|2,2|300,250|fluid" data-desktop="1,1|2,2|300,250|fluid"></div>
        {{/adIDMobile}}
      </div>
  {{/Books}}
</div>
</div>
