@import "mq";
@import "fonts";
$lightPink: #FFABDB;
$mediumPink: #BB3B80;
$darkPink: #7D0068;
$black: #121212;
$grey: #DCDCDC; // Uncomment for embeds
//@import "embed";
// Uncomment for full screen (including immersive article main media)
//@import "fullscreen";

.element-atom,
.interactive-atom {
  margin: 0 !important;
}

body {
  overflow: hidden;
  font-family: "Guardian Headline Regular", Georgia, serif;
}

img[data-lazy-img] {
  width: auto;

  &.inView {
    animation-delay: 0.5s;
    animation: fadeIn;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.interactive-blocks {
  background-color: #f6f6f6;
}

.ad--wrapper--desktop {
  display: none;
  @include mq($from: desktop) {
    display: block;
    position: absolute;
    width: 300px;
    position: absolute;
    right: 40px;
    top: 60px;
  }
}

.ad--wrapper--mobile {
  display: block;
  width: 100%;
  background-color: #212121;
  @include mq($from: tablet) {
    display: none;
  }

  .ad-slot {
    margin-top: 14px;
  }
}

.caption {
  @include mq($from: tablet) {
    // width: 400px;
  }

  svg {
    fill: $darkPink;
  }

  .pre {
    font-weight: 900;
  }

  p.caption-text {
    margin-bottom: 0;
    padding-top: 6px;
    padding-bottom: 0;
    padding-left: 10px;
  }
}

.body-image {
  position: relative;
  // .image--overlay {
  //   z-index: 0;
  //   @include mq($from: leftCol) {
  //     left: -150px;
  //     right: -99px;
  //   }
  // }
  img {
    width: 100%;
    @include mq($from:leftCol) {
      width: calc(100vw - 350.734px);
      // margin-left: -150px;
    }
  }
}

h1 {
  font-size: 24px;
  line-height: 24px !important;
  margin-top: 12px;
  font-family: "Guardian Headline Bold", Georgia, serif;
  @include mq($from: tablet) {
    font-size: 36px;
    line-height: 36px !important;
  }

  &.heading {
    padding-top: 6px;
    margin-top: 24px;

    &:first-child {
      border: none;
      margin-top: auto;
      padding-top: auto;
    }
  }
}

.image--overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  opacity: 0.1;
  z-index: 10;
}
//header

.where-to-go-header {
  &--image {
    min-height: 480px;
    // background-image: url('http://media.guim.co.uk/a9a42e7d97307819e617dca449e70cc219178562/6612_0_3976_7109/1119.jpg');
    width: 100%;
    background-size: 100%;
    background-position: center;
    position: relative;
    background-repeat: no-repeat;
    overflow: hidden;
    @include mq($from: mobileLandscape) {
      height: 95vh;
      background-size: cover;
      // background-image: url('https://uploads.guim.co.uk/2017/01/05/namibia_cover_image.png');
      background-position: center center;
    }

    .video {
      position: absolute;
      top: 40%;
      left: 50%;
      // min-width: 100%;
      // min-height: 100%;
      width: auto;
      height: auto;
      z-index: 0;
      -ms-transform: translateX(-50%) translateY(-50%);
      -moz-transform: translateX(-50%) translateY(-50%);
      -webkit-transform: translateX(-50%) translateY(-50%);
      transform: translateX(-50%) translateY(-50%);

      video {
        object-fit: cover;
      }
    }

    .video-image {
      position: absolute;
      top: 50%;
      left: 50%;
      min-width: 100%;
      min-height: 100%;
      width: auto;
      height: auto;
      z-index: -1;
      -ms-transform: translateX(-50%) translateY(-50%);
      -moz-transform: translateX(-50%) translateY(-50%);
      -webkit-transform: translateX(-50%) translateY(-50%);
      transform: translateX(-50%) translateY(-50%);
    }
  }

  &--standfirst {
    color: #121212;
    right: 8px;
    line-height: 18px;
    background-color: #fff;
    // padding: 6px 8px 24px;

    h1 {
      line-height: 36px;
      letter-spacing: -0.5px;
      margin: 6px 0 12px;
      @include mq($from: tablet) {
        width: 600px;
      }
    }

    p {
      margin: 0;
      font-size: 18px;
      line-height: 24px;
      @include mq($from: desktop) {
        width: 600px;
      }
    }

    .standfirst--wrapper {
      width: 100%;
      @include mq($from: desktop) {
        width: 980px;
        margin-left: auto;
        margin-right: auto;
      }
      @include mq($from: leftCol) {
        width: 1140px;
      }
      @include mq($from: wide) {
        width: 1300px;
      }

      .content__main-column {
        .strap {
          padding-top: 4px;
          padding-bottom: 12px;
        }
        &:before {
          content: '';
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          height: 100%;
          width: 0.0625rem;
          background: $grey;
        }
      }

      .byline-wrap {
        border-top: 1px solid $grey;
        border-bottom: 1px solid $grey;
        width: 100vw;
      }

      .byline {
        border: none;
        margin-top: 0;
        padding-top: 6px;
        padding-bottom: 12px;
        color: $darkPink;

        a {
          color: $darkPink;
        }
      }
    }
  }

  &--title {
    width: 100%;
    position: absolute;
    z-index: 20000;
    bottom: 0;
    // padding-left: 8px;
    @include mq($from: desktop) {
      bottom: 0;
    }

    .content__main-column {
      max-width: none;
      background: $black;
      width: 100%;
      padding:0 8px 8px;
    }

    h1 {
      color: white;
    }
    // span {
    //   display: block;
    // }
    // .small {
    //   font-size: 18px;
    //   font-weight: 900;
    //   margin-bottom: 4px;
    // }
    .large {
      display: inline-block;
      line-height: 54px;
      font-size: 50px;
      font-family: "Guardian Headline Bold", Georgia, serif;
    }

    .light-highlight {
      width: 100%;
      color: $lightPink;
      // border-bottom: solid 1px #777;
      // background-color: $lightPink;
      // box-shadow: 5px 0 0 $lightPink,-5px 0 0 $lightPink;
      // padding-bottom: 3px;
    }

    .dark-highlight {
      max-width: 700px;
      // color: #fff;
      // background-color: $black;
      // box-shadow: 5px 0 0 $black,-5px 0 0 $black;
      // padding-bottom: 3px;
    }
  }
}
//menu

.where-to-go--menu {
  padding-top: 0;

  ul {
    padding: 6px 0 12px 5px;
  }

  &.sticky {
    position: fixed;
    z-index: 20000;
    top: 0;
    background-color: #fff;
    margin: 0;
    width: 94%;
    padding-left: 3%;
    padding-right: 3%;
    // padding-bottom: 12px;
    left: 0;
    border-bottom: solid 1px $grey;

    ul {
      border: none;
      @include mq($from: desktop) {
        width: 590px;
        margin-left: auto;
        margin-right: auto;
        padding-right: 420px;
      }
      @include mq($from: leftCol) {
        padding-right: 342px;
      }
      @include mq($from: wide) {
        padding-right: 306px;
      }
    }
  }

  a {
    color: inherit;
  }

  ul {
    margin: 0;
  }

  li {
    list-style: none;
    font-family: $f-sans-serif-text;
    display: inline-block;
    font-size: 16px;
    margin-right: 6px;
    line-height: 22px;
    @include mq($from: desktop) {
      font-size: 18px;
      line-height: 24px;
    }

    &.jump {
      opacity: 0.5;
    }

    &:after {
      content: '/';
      margin-left: 6px;
      opacity: 0.5;
    }

    &:last-child {
      &:after {
        content: '';
      }
    }
  }
}

.header {
  &[data-open="true"] {
    .section-header--button {
      svg {
        transform: rotate(315deg);
      }

      .button {
        opacity: 0;
      }
    }
  }
}

.section-strap-line {
  position: absolute;
  bottom: 60px;
  color: white;
  font-family: Guardian Egyptian Web;
  font-weight: 900;
  z-index: 30;
  font-size: 20px;
  line-height: 21px;
  width: 90%;
  margin-left: 2%;
  @include mq($from: tablet) {
    bottom: 20px;
    width: 100%;
    margin-left: 0;
  }

  .strapline-wrapper {
    @include mq($from: desktop) {
      margin-left: auto;
      margin-right: auto;
      width: 980px;
    }
    @include mq($from: leftCol) {
      margin-left: auto;
      margin-right: auto;
      width: 1140px;
    }
    @include mq($from: wide) {
      margin-left: auto;
      margin-right: auto;
      width: 1300px;
    }

    .strapline {
      display: block;
      @include mq($from: tablet) {
        width: 600px;
      }
    }
  }
}

.section-header {
  &--image {
    overflow: hidden;
    min-height: 600px;
    background-color: #333;
    position: relative;
    @include mq($from: desktop) {
      min-width: 500px;
    }
    @include mq($from: leftCol) {
      min-height: 650px;
    }
    @include mq($from: wide) {
      min-height: 750px;
    };

    img {
      position: absolute;
      transform: translateX(-25%);
      @include mq($from: phablet) {
        width: auto;
        height: 100%;
        margin-left: 0;
        display: block;
        transform: translateX(0%);
      }
      @include mq($from: tablet) {
        width: 1000px;
        height: auto;
      }
      @include mq($from: desktop) {
        width: 100%;
        height: auto;
      }

      &.bottom {
        @include mq($from:leftCol) {
          bottom: -50px;
        }
      }

      &.top {
        @include mq($from:leftCol) {
          top: -50px;
        }
      }
    }
  }

  &--title {
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 2000;

    .content__main-column {
      max-width: none;
      padding-bottom: 73px;
      background: $black;
      width: 100%;
      @include mq($from: desktop) {
        padding-bottom: 12px;
      }
    }

    h1 {
      font-size: 50px;
      font-weight: 100;
      padding-top: 3px!important;
      color: $lightPink;
      line-height: 50px !important;
      border-bottom: solid 1px #777;
    }

    p {
      font-family: "Guardian Headline Italic", Georgia, serif;
      color: #fff;
      max-width: 400px;
      font-size: 20px;
      line-height: 26px;
      margin: 0;
    }

    svg {
      width: 100%;
      height: auto;
    }
  }

  &--button {
    position: absolute;
    bottom: 0;
    left: 10px;
    z-index: 40;
    @include mq($from: tablet) {
      display: none;
    };

    p.button {
      color: white;
      font-size: 16px;
      font-weight: 600;
      font-family: "Guardian Sans Web", "Guardian Agate Sans 1 Web", sans-serif;
      background-color: rgba(51,51,51, 0.4);
      border: none;
      margin-top: 10px;
      padding: 1px 16px;
      -webkit-transition: all 1s ease-in-out;
      -moz-transition: all 1s ease-in-out;
      -o-transition: all 1s ease-in-out;
      transition: all 1s ease-in-out;
    }

    svg {
      -webkit-transition: all 0.5s ease-in-out;
      -moz-transition: all 0.5s ease-in-out;
      -o-transition: all 0.5s ease-in-out;
      transition: all 0.5s ease-in-out;
    }
  }
}

.section {
  h1 {
    &.heading {
      padding: 0;
      margin-top: 6px;
      line-height: 36px;
      @include mq($from: tablet) {
        padding-left: 0;
      }
    }

    &.subheading {
      padding: 0;
      font-weight: 200;
      border-bottom: 1px solid rgba(51, 51, 51, 0.5);
      padding-bottom: 12px;
      padding-top: 0;
      @include mq($from: tablet) {
        padding-left: 0;
      }
    }
  }

  h1,
  p {
    padding: 8px;
  }

  .heading .text {
    max-width: 610px;
  }

  &.copy {
    display: none;
    width: 96%;
    background-color: white;
    position: relative;
    // padding-top: 6px;
    padding-bottom: 24px;
    margin-bottom: -16px;
    padding-left: 2%;
    padding-right: 2%;
    @include mq($from: tablet) {
      display: block;
      padding-left: 20px;
    }
    @include mq($from: desktop) {
      width: 980px;
      margin-left: auto;
      margin-right: auto;
      padding-left: 0;
      padding-left: 2%;
    }
    @include mq($from: leftCol) {
      width: 1140px;
    }
    @include mq($from: wide) {
      width: 1300px;
    }

    &[data-open="true"] {
      display: block;
    }

    .content__main-column {
      &:before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        height: 100%;
        width: 0.0625rem;
        background: $grey;
      }

      &:nth-child(1) {
        .heading {
          border-top: none;
          margin-top: 0;

          &:before {
            display: none;
          }
        }
      }
    }

    .copy,
    .heading {
      padding-left: 10px;
    }

    h1 {
      width: 100%;
      @include mq($from: tablet) {
        width: 600px;
      }

      &.heading {
        border-top: solid 1px $grey;
        border-bottom: solid 1px $grey;
        color: $darkPink;
        padding-top: 4px;
        margin-top: 0;
        padding-bottom: 0;
        width: 100vw;
        // &:before {
        //   display: block;
        //   content: '';
        //   width: 70px;
        //   height: 10px;
        //   background-color: #f7acbb;
        //   z-index: 200;
        //   position: relative;
        //   margin-bottom: 6px;
        // }
        @include mq($from: tablet) {
          padding-bottom: 10px;
        }
      }
    }
    // .body-image + h1 {
    //   margin-top: -80px;
    //   color: white;
    //   position: relative;
    //   border-top: none;
    //   margin-left: 10px;
    //   padding-bottom: 30px;
    //   @include mq($from: tablet) {
    //     margin-left: 10px;
    //     margin-top: -100px;
    //     padding-bottom: 40px;
    //   }
    //   @include mq($from: leftCol) {
    //     margin-left: 0;
    //   }
    //
    //   &:before {
    //     display: block;
    //     content: '';
    //     width: 70px;
    //     height: 10px;
    //     background-color: white;
    //     z-index: 200;
    //     position: relative;
    //     margin-bottom: 6px;
    //   }
    // }
    .credit {
      margin-left: 10px;
      margin-bottom: 14px;
      font-family: "Guardian Headline Italic Bold", Georgia, serif;
      color: $darkPink;
      // background: #FFABDB;
      // padding: 8px;
      // border-radius: 100px;
      display: inline-block;
      // line-height: 20px;
    }

    pre.copy {
      width: 100%;
      font-family: $f-serif-text;
      margin-top: 6px;
      margin-bottom: 0;
      // padding-bottom: 12px;
      white-space: pre-wrap;
      /* css-3 */
      white-space: -moz-pre-wrap;
      /* Mozilla, since 1999 */
      white-space: -pre-wrap;
      /* Opera 4-6 */
      white-space: -o-pre-wrap;
      /* Opera 7 */
      word-wrap: break-word;
      /* Internet Explorer 5.5+ */
      @include mq($from: tablet) {
        width: 600px;
        overflow: visible;
      }

      span.pullquote,
      span.pullquote-credit {
        font-family: "Guardian Headline Regular", Georgia, serif;
        color: #000;
        font-size: 26px;
        line-height: 30px;
        display: inline;

        @include mq($from: leftCol) {
          position: relative;
          z-index: 300;
        }
      }

      span.pullquote-credit {
        color: $black;
        display: block;
        // background-color: $black;
        // box-shadow: 5px 0 0 $black,-5px 0 0 $black;
        // padding-bottom: 3px;
        font-size: 20px;
      }

      span.pullquote {
        background-color: $lightPink;
        box-shadow: 5px 0 0 $lightPink,-5px 0 0 $lightPink;
        padding-bottom: 3px;
        &:before {
          background-image: url("<%= path %>/assets/quote.svg");
          content: '';
          display: block;
          float: left;
          height: 20px;
          width: 28px;
          background-size: 100%;
          background-repeat: no-repeat;
          margin-right: 12px;
          margin-top: 3px;
          @include mq($from: tablet) {
            height: 18px;
            width: 30px;
          }
        }
      }
    }
  }
}
//APPS fixes

.andriod,
.ios {
  .copy {
    a {
      color: #005689;
    }
  }

  .where-to-go--menu {
    ul {
      padding: 0;
    }

    &.sticky {
      position: relative;
      background-color: transparent;
      padding: 0;
      margin: 0;
      padding-top: 6px;
      margin-top: 12px;
    }
  }

  .section-header--button {
    svg {
      float: left;
    }

    .button {
      float: left;
      border-radius: 24px;
      margin-left: 12px;
    }
  }

  .ad--wrapper--mobile {
    display: none;
  }
}
@font-face {
  font-family: "Guardian Headline Bold";
  src: url("https://s3.amazonaws.com/gdn-cdn/fonts/garnett/GHGuardianHeadline-Bold.woff") format('woff'), url("https://s3.amazonaws.com/gdn-cdn/fonts/garnett/GHGuardianHeadline-Bold.ttf") format('truetype');
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: "Guardian Headline Medium";
  src: url("https://s3.amazonaws.com/gdn-cdn/fonts/garnett/GHGuardianHeadline-Medium.woff") format('woff'), url("https://s3.amazonaws.com/gdn-cdn/fonts/garnett/GHGuardianHeadline-Medium.ttf") format('truetype');
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: "Guardian Headline Regular";
  src: url("https://s3.amazonaws.com/gdn-cdn/fonts/garnett/GHGuardianHeadline-Regular.woff") format('woff'), url("https://s3.amazonaws.com/gdn-cdn/fonts/garnett/GHGuardianHeadline-Regular.ttf") format('truetype');
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: "Guardian Headline Italic";
  src: url("https://s3.amazonaws.com/gdn-cdn/fonts/garnett/GHGuardianHeadline-RegularItalic.woff") format('woff'), url("https://s3.amazonaws.com/gdn-cdn/fonts/garnett/GHGuardianHeadline-RegularItalic.ttf") format('truetype');
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: "Guardian Headline Italic Bold";
  src: url("https://s3.amazonaws.com/gdn-cdn/fonts/garnett/GHGuardianHeadline-MediumItalic.woff") format('woff'), url("https://s3.amazonaws.com/gdn-cdn/fonts/garnett/GHGuardianHeadline-MediumItalic.ttf") format('truetype');
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
}
